body {
    background-color: hsla(0, 0%, 0%, 0.698);
    background: linear-gradient(-0.25turn, #363636, #b1b0b0);
    
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0.25turn, #000000, #ffffff);
    height: 6rem;
    margin-bottom: 4rem;
}

header h1 {
    font: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(0.25turn, #ffffff, #000000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 10px 10px 20px  black;

    animation: 3s bigger infinite;
}

@keyframes bigger {
    from {
        font-size: 10px;
    }

    to {
        font: 100px;
    }
}


#score {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    width: auto;
    padding: 0px 20px 0px 20px;
    border-radius: 10em;

}

#containerScore {
    margin-right: 10rem;
}

#containerBestScore {
    margin-left: 10rem;
}

#score p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

#boardCase {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

#board
{
    display: flex;
    background-color: rgba(0, 0, 0, 0.747);
    width: 40rem;
    height: 500px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(119, 118, 118);
    border-radius: 50%;
    box-shadow: 10px 10px 10px black;

}

table, tr, td
{
    border: 2px solid rgb(119, 118, 118);
    border-collapse:collapse;
    width: 300px;
    height: 100px;
}


td
{
    background-color: white;
}


#endMenu {
    display: none;
    background-color: transparent;
    margin-top: 5em;
}

#endMenu #isRestart {
    background-color: transparent;
    animation: 1.12s clignoter infinite;
    transition: none;
}

@keyframes clignoter {
    0% {opacity: 1;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}

#end {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10rem;

    margin-bottom: 10rem;

    box-shadow: 10px 10px 100px 50px black;

    animation: 2s spawning;
}

@keyframes spawning {
    from {
        margin-left: 100%;
        transform: rotate(360deg);
    }
}

@media all and (max-width: 550px) {
    .container {
        padding: 0 5px 0 5px;
    }

    #containerScore {
        margin: 0;
    }
    
    #containerBestScore {
        margin: 0;
    }
}